body {
    font-family: 'MV Boli';
   
}



#userInput {
    margin-top: 105px;
}


#headerNav {
    background-color: blueviolet;
}

#Heading {
    margin-left: 50px;
}

#btnCreate {
    background-color: blueviolet;
    color: white;
}

#lblFlagEmail {
    color: white;
}
